<!DOCTYPE html>
<html>
  <head>
    <title> Coverage </title>

    <link rel="stylesheet" href="/app/lib/mocha/mocha.css" />
  </head>
  <body>
    <div id="mocha" style="display:none;"></div>
    <div id="fixtures" style="display:none;"><div>
    
    <script src="/app/lib/jquery/jquery.min.js"></script>

    <script src="/app/lib/mocha/mocha.js"></script>
    <script src="/app/lib/chai/chai.js"></script>

    <script src="/app/lib/blanket/dist/qunit/blanket.min.js"></script>
    <script src="/app/lib/blanket/src/adapters/mocha-blanket.js"></script>

    <script src="/app/lib/closure-library/closure/goog/base.js"></script>

    <script src="/test/helpers/monkey-patch.js"></script>
    
    <script src="/bin/automan-deps.js"></script>
    <script src="/bin/fixture-deps.js"></script>

    <script>
      goog.require('AutoMan.test.fixtures');
    </script>

    <script>
      mocha.setup('bdd');
      mocha.ui();
            
      chai.should();
    </script>

    {{#app}}
    <script src="{{{.}}}" data-cover></script>
    {{/app}}

    {{#spec}}
    <script src="{{{.}}}"></script>
    {{/spec}}

    <script type="text/javascript">
      if(window.mochaPhantomJS) {
        mochaPhantomJS.run();
      } else {
        mocha.run();
      }
    </script>
  </body>
</html>