<!DOCTYPE html>
<html>
  <head>
    <title> Tests </title>

    <link rel="stylesheet" href="/app/lib/mocha/mocha.css" />
  </head>
  <body>
    <div id="mocha"></div>
    <div id="fixtures" style="display:none;"></div>

    <script src="/app/lib/jquery/jquery.min.js"></script>

    <script src="/app/lib/mocha/mocha.js"></script>
    <script src="/app/lib/chai/chai.js"></script>

    <script src="/app/lib/closure-library/closure/goog/base.js"></script>
    
    <script src="/bin/automan-deps.js"></script>
    <script src="/bin/fixture-deps.js"></script>

    <script type="text/javascript">
      goog.require('AutoMan');
      goog.require('AutoMan.test.fixtures');
    </script>

    <script>
      mocha.ui('bdd');
      mocha.reporter('html');
      
      var should = chai.should();
    </script>

    {{#scripts}}
    <script src="{{{.}}}"></script>
    {{/scripts}}

    <script type="text/javascript">
      if(window.mochaPhantomJS) {
        mochaPhantomJS.run();
      } else {
        mocha.run();
      }
    </script>
  </body>
</html>