<html>
    <head>
        <title> Tests </title>

        <link rel="stylesheet" href="/node_modules/mocha/mocha.css" />
    </head>
    <body>
        <div id="mocha"></div>

        <script src="/app/lib/closure-library/closure/goog/base.js"></script>

        <script src="/bin/automan-deps.js"></script>
        <script src="/bin/fixture-deps.js"></script>

        <script type="text/javascript">
            goog.require('AutoMan');
            goog.require('AutoMan.tests.fixtures');
        </script>

        <script src="/node_modules/mocha/mocha.js"></script>
        <script src="/node_modules/chai/chai.js"></script>

        <script>
            mocha.ui('bdd');
            mocha.reporter('html');
            
            var should = chai.should();
        </script>

        <script src="/tests/ui/components/Factory-test.js"></script>

        <script type="text/javascript">
            if(window.mochaPhantomJS) {
                mochaPhantomJS.run();
            } else {
                mocha.run();
            }
        </script>
    </body>
</html>